.contain{
    margin: 30px;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 0;
}
.Tags{
    font-weight: bold;
}
.AddButton{
    background-color: blue;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    margin: 10px 0px;
    z-index: -1;
}